@import "./style";

.ubc-accordion-tabs {
  &__controlls {
    text-align: right;
  }

  &__tab-list {
    position: relative;
    list-style-type: none !important;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    // Avoid editor style override it
    margin: 0 0 -2px 0 !important;
    padding-top: 50px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    button[role=tab] {
      opacity: 1;
      border-right: none;
    }
  }

  &__tab-toolbar {
    position: absolute;
    top: 40px;
    left: 0;
    transform: translateY(-100%);
    display: flex;

    button {
      padding: 5px;
      color: get-color("white");
      background-color: get-color("primary");

      // The first two buttons ( Previous arrow and next arrow should not have space between them because they are related )
      &:nth-child( n + 2 ) {
        margin-right: 5px;
      }
      
      &.disabled {
        color: get-color("gray");
      }
      &:focus {
        background-color: get-color("primary") !important;
        color: get-color("white") !important;
        box-shadow: none !important;
        outline: none !important;
      }
      &:hover {
        background-color: darken(get-color("primary"), 10%);
      }

      .dashicons{
        width: 25px;
        height: 25px;

        &::before{
          font-size: 25px;
        }
      }
    }
  }
}

.wp-block[data-type="ubc/tabs"] {
  & {
    div[data-block] {
      margin: 0;
    }
  }
  .wp-block[data-type="ubc/tab"] {
    > .editor-block-list {
      &__insertion-point {
        display: none;
      }
    }
    .editor-block-list {
      &__breadcrumb {
        display: none;
      }
    }
  }
}
