@import "./style";

.accordion-tabs {
  .tabs-trigger.hidden {
    display: none;
  }

  .tabs-tab-list {
    .rich-text {
      padding: 8px 12px;
      background-color: get-color("primary");
      color: get-color("white");
      margin-right: 5px;
    }
  }
}

.wp-block[data-type="ubc/tabs"] {
  &:not(.is-selected):not(.has-child-selected) {
    div[data-block] {
      margin: 0;
    }
  }
}
