@import "../base";

.ubc-accordion-tabs {
  &.is-initialized.tabs-allowed .ubc-accordion-tabs__tabs-panel {
    display: inherit;
  }

  &__tab-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    li {
      margin: 0;
      flex: 0 0 auto;

      &:last-of-type{
        a[role=tab], button[role=tab] {
          border-right-style: solid;
        }
      }

      a[role=tab], button[role=tab] {
        position: relative;
        background-color: var(--ubc-tabs-block-tab-nav-background-color, get-color("white"));
        color: var(--ubc-tabs-block-tab-nav-text-color, get-color("primary"));
        padding: 12px 25px;
        opacity: 0.5;
        border-width: 2px;
        border-color: var(--ubc-tabs-block-tab-nav-border-color, get-color("border"));
        border-left-style: solid;
        text-decoration: none !important;
        line-height: 1.8;
      
        &.is-selected {
          background-color: var(--ubc-tabs-block-tab-nav-selected-background-color, get-color("white"));
          color: var(--ubc-tabs-block-tab-nav-selected-text-color, get-color("primary"));
          opacity: 1;
        }

        &:focus{
          outline: none;
        }

        &::before{
          content: "";
          display: block;
          height: var(--ubc-tabs-block-tab-nav-top-border-height, 5px);
          position: absolute;
          transition: 0.1s ease-in-out;
          background-color: var(--ubc-tabs-block-tab-nav-top-border-color, get-color("primary"));
          left: -2px;
          right: -2px;
          top: -2px;
        }

      }
    }
  }

  &__tabs-panel {
    display: block;
    margin: 0;
    padding: 0;

    &.is-hidden {
      .content {
        display: none;
      }

      .ubc-accordion-tabs__accordion-trigger{
        background-color: var(--ubc-tabs-block-accordion-trigger-background-color, darken( get-color('primary'), 10% ));
        color: var(--ubc-tabs-block-accordion-trigger-text-color, get-color('white'));
      }
    }

    &.is-open {
      .ubc-accordion-tabs__accordion-trigger{
        background-color: var(--ubc-tabs-block-accordion-trigger-selected-background-color, get-color('primary'));
        color: var(--ubc-tabs-block-accordion-trigger-selected-text-color, get-color('white'));
      }
    }

    &:active,
    &:focus {
      outline: none;
    }

    .content {
      padding: 1.25rem;
      border-width: 2px;
      border-style: solid;
      border-color: var(--ubc-tabs-block-content-border-color, get-color('border'));
    }
  }

  &__accordion-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 15px 20px;
  }

  &__accordion-trigger-icon {
    pointer-events: none;
    display: inline-block;
    float: right;
    width: 22px;
    height: 22px;

    svg {
      margin: 0;
    }
  }

  @media (min-width: 768px) {
    &.tabs-allowed {
      .ubc-accordion-tabs__accordion-trigger,
      .ubc-accordion-tabs__tabs-panel,
      .ubc-accordion-tabs__tabs-panel.is-hidden {
        display: none;
      }
    }
    &.tabs-allowed .ubc-accordion-tabs__tabs-trigger {
      display: block;
    }
    &.tabs-allowed .ubc-accordion-tabs__tab-list {
      margin-bottom: -2px;
      display: flex;
    }
  }

  // Since is-hidden class is too board, a lot of themes or css libraries out there would simply hide it with display: none !important;
  // However, we need it to be display: block in tablet and mobile.
  // Could suggest to 'a11y-accordion-tabs' package author to adjust css class to avoid this issue
  @media (max-width: 767px) {
    .ubc-accordion-tabs__tabs-panel.is-hidden{
      display: block !important;
    }
  }

  [aria-expanded="true"] .vert {
    display: none;
  }

  .label--open,
  .label--close {
    display: block;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .label--close {
    display: none;
  }

  .is-open .label--open {
    display: none;
  }

  .is-open .label--close {
    display: block;
  }
}
