@import "../base";

.accordion-tabs {
  background-color: get-color("white");

  .tabs-tab-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;

      a {
        background-color: get-color("secondary");
        color: get-color("white");
      }
    }
  }

  a.button {
    display: inline-block;
    color: white;
    background-color: #de0840;
    border: none;
    border-radius: 4px;
    line-height: 1.5;
    padding: 0.65rem 1rem;

    &:hover {
      background-color: #ff0f4e;
    }
  }
}

.tabs-trigger {
  border-bottom: none;
  display: none;
  font-weight: normal;
  margin: 0 5px 0 1px;
  padding: 8px 12px;
  text-decoration: none;

  &:hover {
    border-bottom: none;
  }

  &:active {
    outline: none;
  }

  .is-selected {
    &,
    &:hover,
    &:focus {
      border-bottom: 2px solid #000;
    }
  }
}

.tabs-panel {
  display: block;
  margin: 0;
  padding: 0;

  &.is-hidden {
    .content {
      display: none;
    }
  }

  &:active,
  &:focus {
    outline: none;
  }

  .content {
    margin-top: 10px;
    padding: 20px;
  }
}

.is-initialized.tabs-allowed .tabs-panel {
  display: inherit;
}

.accordeon-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px 20px;
}

.accordeon-trigger-icon {
  pointer-events: none;
}

@media (min-width: 40em) {
  .tabs-allowed .accordeon-trigger {
    display: none;
  }
  .tabs-allowed .tabs-trigger {
    display: block;
  }
  .tabs-allowed .tabs-panel {
    display: none;
  }
  .tabs-allowed .tabs-panel.is-hidden {
    display: none;
  }
  .tabs-allowed .tabs-panel {
    border-top: 2px solid #eee;
  }
  .tabs-allowed .tabs-tab-list {
    margin-bottom: -2px;
  }
}

.accordeon-trigger-icon {
  display: inline-block;
  float: right;
  width: 22px;
  height: 22px;
}

.accordeon-trigger-icon svg {
  margin: 0;
}

[aria-expanded="true"] .vert {
  display: none;
}

.label--open,
.label--close {
  display: block;
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.label--close {
  display: none;
}

.is-open .label--open {
  display: none;
}

.is-open .label--close {
  display: block;
}
