$ubc-color: (
  "primary": #002145,
  "secondary": #2f5d7c,
  "border": #d7e0e7,
  "white": #ffffff,
  "gray": #ababab,
  "red": #e20000
);

@function get-color($color) {
  @return map-get($ubc-color, $color);
}

%button {
  background-color: get-color("secondary");
  color: get-color("white");
  padding: 12px 25px;
  cursor: pointer;

  &.is-selected {
    background-color: get-color("primary");
  }
  &:hover {
    background-color: get-color("primary");
  }
}
